body {
    background-color: #F1F2F8;
}

.card-header{
    background-color: #00887D;
    color: white;
}

.container {
    text-align: center;
    display:flex;
    justify-content:center;
}

.container-scalo {
    display:flex;
    justify-content:center;
    p {
        padding: 10px;
        margin: 10px;
    }
}
